@{
    ViewData["Title"] = "Home Page";
}



<div class="bg-light p-5 rounded mt-5">
    <h1>Bienvenue !</h1>
    <p class="lead">Cette interface vous permet de gérer les livres, les membres et les prêts. Vous pouvez avoir un aperçu global sur les retards en consultant la section Retards</p>
    <a class="btn btn-lg btn-primary" href="/Livres" role="button">
        Cliquez ici pour consulter la liste des livres
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
</div>